body{
  background-color: rgb(250, 231, 144); 
  color: rgb(0, 0, 0);  
  font-size: 15px; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-items: center;
}

input{
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
  padding: 20px 20px 20px;
  width: 150px;
}

#header{
  background-color: #69addb;
  padding: 30px;
}

#template-display{
  background-color: #8dec61b2;
  border: 5px solid rgb(98, 100, 99);
  padding: 30px 30px 30px;
  display: block;
  margin: 20px;
}

#createQuestion{
  background-color: #bbbea586;
}

#createdQuestions{
  font-size: medium;
  background-color: rgb(255, 255, 255);
  padding: 15px;
}

#addButton{
  border: 5px solid rgb(255, 102, 0);
  background-color: rgb(255, 223, 185);
}

#submitButton{
  border: 5px solid rgb(0, 153, 51);
  background-color: rgb(198, 255, 198);
}

#popUpDiv{
  background-color: rgb(235, 224, 179); 
  border: 5px solid rgb(98, 100, 99);
  justify-content: center;
}