body{
  background-color: rgb(250, 231, 144); 
  color: rgb(0, 0, 0);  font-size: 15px; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.header{
  background-color: #69addb; 
  border: 5px solid rgb(55, 54, 59);
  border-width: 5px;
  font-size: large;
  padding: 10px 50px 10px;
}

input{
  border-color: #ff0000;
  border-width: 2.5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 20px 20px;
  width: 150px;
  font-size: medium;
  font-weight: bold;
}

div {
  background-color: #8dec61b2;
  border: 5px solid rgb(98, 100, 99);
  margin: 0;
  padding: 5px 50px 5px;
}

.createdQuestions{
  font-size: medium;
  font-weight: bold;
}