<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/socketConnection.js') }}"></script>

        <script src="{{ url_for('static', filename='classes/question.js') }}"></script>
        <script src="{{ url_for('static', filename='classes/questionTemplate.js') }}"></script>
        <script src="{{ url_for('static', filename='classes/errorDisplay.js') }}"></script>
        <script src="{{ url_for('static', filename='classes/feedbackDisplay.js') }}"></script>
        <script src="{{ url_for('static', filename='classes/questionAnswerDisplay.js') }}"></script>

        <script src="{{ url_for('static', filename='scripts/makeQuestionPopup.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/host.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/hiddenpopup.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/design.css') }}" >
    </head>
    <body>
        <div id="header">
            <p>The code for this meeting is: <div id="meeting_code"></div></p>
        </div>

        <div id="createQuestion" class="popup">
            <div class="popup-content">

                <span class="close" onclick="closePopup()">Close</span><br>

                
                <select name="questionTypes" id="questionType" onchange="questionTypeUpdate()">
                    <option value="" selected disabled hidden>Choose Question Type</option>
                    <option value="normal">Normal Question</option>
                    <!-- <option value="mult-choice">Multiple Choice Question</option> -->
                </select>
                <div id="questionInputer">

                </div>
            </div>
        </div>

        <div id="templateDisplay">
            <p>Current template:</p>
            <div id="currentTemplate">

            </div>
            <input type="button" onclick="openPopup()" value="Add Question">
        </div>

        <div>
            <p>Errors reported by attendees:</p>
            <div id="errorFeedbackDisplay">

            </div>
        </div>

        <div>
            <p>Current score of room: <span id="sentimentScore">0</span></p>
            <p>Most recent feedback recieved:</p>
            <div id="recentFeedbackDisplay">

            </div>
        </div>

        <div>
            <p>Recent questions answered:</p>
            <div id="questionAnswerDisplay">
                
            </div>
        </div>
    </body>
</html>