<!DOCTYPE html>
<html>
    <head>
        <title>Create Meeting</title>
        <script src="{{ url_for('static', filename='scripts/old-createtemplate.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/hiddenpopup.css') }}">
    </head>
    <body>
        <p>Creating a meeting page</p>

        <div id="createQuestion" class="popup">
            <div class="popup-content">

                <span class="close" onclick="closePopup()">Close</span><br>

                
                <select name="questionTypes" id="questionType" onchange="choiceUpdate()">
                    <option value="" selected disabled hidden>Choose Question Type</option>
                    <option value="question">Question</option>
                    <option value="mult-choice">Multiple Choice Question</option>
                </select>


                <br><form id="questionform"></form>
            </div>
        </div>


        <div id="templateViewer">
            <p>The current template:</p>
            <form id="templateform" action="/create" method="post"> 
                <input type="button" onclick="addQuestion()" value="Add Question"><br>
                <input type="submit" value="Create">
            </form>
        </div>

    </body>
</html>