<!DOCTYPE html>
<html>
    <head>
        <script>
            function sendRequest() {
                if (document.getElementById("password").value === document.getElementById("passwordconf").value) {
                    document.getElementById("registerForm").submit();
                } else {
                    document.getElementById("error").innerHTML = "Passwords don't match";
                }
            }
        </script>
    </head>
    <body>
        <form id="registerForm" action="/register" method="post">
            <p>Username: <input type="text" name="username" id="username"></p>
            <p>Password: <input type="text" name="password" id="password"></p>
            <p>Re-type password: <input type="text" name="passwordconf" id="passwordconf"></p>
            <p id="error" style="color:red;"></p>
            <input type="button" onclick="sendRequest()" value="Register">
        </form>
    </body>
</html>